@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}   

body {
    margin: 0;
    background-color: #eddcb6;
}

#showcase {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    position: relative;
    background-color: black;
}

#showcase::before {
    content: '';
    background-image: url(Images/Cafe-background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.3;
}

#showcase-content {
    isolation: isolate;
    color: #eddcb6;
}

.row1 {
    display: flex;
    width: 100%;
}

.section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2 {
    width: 100%;
    padding: 20px;
    text-align: center;
}

/* .contents {
    width: 90%;
    margin: auto;
}

article#Who {
    float: left;
    width: 50%;
}

.content1 img {
    float: right;
    width: 50%;
    padding-top: 10px;
} */

