head {
   
}

body {
    

 text-decoration: none ;
    margin: 25px ;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

img{
    width: 40%; height: 40%;
}