body{
    height: 100px;
}

.logo{

}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}