@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}   

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.title h1 {
    font-size: 48px;
    margin: 0;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.menu-item img {
    width: 200px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.description {
    font-weight: bold;
    margin: 10px 0;
}

/* Media query to adjust layout for smaller screens */
@media (max-width: 768px) {
    .menu-container {
        grid-template-columns: 1fr;
    }
}
