@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}

body {
    font-family: sans-serif;
    
    background-image: url(image/coffee-beans-levitate-white-background.jpg);
    background-position: center;
    background-size: cover;
  }
  
  header {
   
    text-align: center;
    padding: 80px;
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  main {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #ffe8cf;
    cursor: pointer;
  }
  
  



  body {
    font-family: sans-serif;
    background-color: whitesmokes;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
 
 